<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style>
    .container {
      min-height: 0px !important;
      margin-top:10px;
      margin-bottom:10px;
      width: 1200px !important;
    }
    .departure-board {
      font-family: "Lucida Console", Monaco, monospace;
	  text-transform: uppercase;
	  background-color: black;
	  color: gold;
	  padding: 5px;
	  margin-top:10px;
      margin-bottom:10px;
    }
    .station-name-field {
      color: lightGray;
    }
    .current-week-day {
      text-transform: none;
    }
    .align-center {
      text-align: center;
    }
    .align-left {
      text-align: left;
    }
    .align-right {
      text-align: right;
    }
    .title3 {
      color: lightGray;
      font-size: 90%;
    }
  </style>

  <script type="text/javascript">
  	let mbtaJson;
  	let data_source_url = '{{ data_source_url }}';
  	let station = 'North Station';

	let fetchData = function(url, stationName) {
	  if (stationName === undefined) {
	    stationName = station;
	  }
	  $.get(url, function(data) {
	    mbtaJson = data;
	    formatData(mbtaJson, stationName);
	  });
	};

	let formatData = function(data, stationName) {
      // change some basic information
      $('.station-name').text(stationName);
      $('.current-week-day').text(data.CurrentWeekDay);
      $('.current-time').text(data.CurrentTime);
      $('.current-date').text(data.CurrentDate);
      // format the train infos
      let trainInfoElements = [];
      data[stationName].forEach(function(trainInfo){
        let $trainInfoElement = $("<div/>", {"class": "row"});

        $("<div/>", {"class": "col-xs-2"}).text('MBTA').appendTo($trainInfoElement);
        $("<div/>", {"class": "col-xs-1 align-right"}).text(trainInfo.ScheduledHour).appendTo($trainInfoElement);
        $("<div/>", {"class": "col-xs-4"}).text(trainInfo.Destination).appendTo($trainInfoElement);
        $("<div/>", {"class": "col-xs-1"}).text(trainInfo.Trip).appendTo($trainInfoElement);
        $("<div/>", {"class": "col-xs-1 align-center"}).text(trainInfo.Track).appendTo($trainInfoElement);
        $("<div/>", {"class": "col-xs-3"}).text(trainInfo.Status).appendTo($trainInfoElement);

        trainInfoElements.push($trainInfoElement);
      });
      $('.train-info').empty().append(trainInfoElements);
	};

	let switchStation = function(stationLocation) {
	  if (stationLocation !== 'North' && stationLocation !== 'South') {
	    return;
	  }
	  station = stationLocation+' Station';
	  formatData(mbtaJson, station);
	};

	// initial call
    $(document).ready(function() {
      fetchData(data_source_url);
      $('#NorthStation').click(function(){
        switchStation('North');
      });
      $('#SouthStation').click(function(){
        switchStation('South');
      });

      setInterval(function(){
        fetchData(data_source_url) // this will refresh the data every 30 seconds
      }, 30000);
    });

  </script>
</head>
<body>
  <div class="container">
  	<div class="row">
      <div class="col-xs-12 board-chooser">
        <div class="btn-group station-selector" data-toggle="buttons">
          <label class="btn btn-default active" id="NorthStation">
           <input type="radio" name="station_options" autocomplete="off" checked> North Station
          </label>
          <label class="btn btn-default" id="SouthStation">
            <input type="radio" name="station_options" autocomplete="off"> South Station
          </label>
        </div>
      </div>
  	</div>
    <div class="departure-board">
	  <div class="row title1">
	    <div class="col-xs-3 current-week-day align-left">&nbsp;</div>
	    <div class="col-xs-6 station-name-field
	       align-center"><span class="station-name">North station</span> train information</div>
	    <div class="col-xs-3 align-right">Current Time</div>
	  </div>
	  <div class="row title2">
	    <div class="col-xs-3 current-date align-left">&nbsp;</div>
	    <div class="col-xs-6">&nbsp;</div>
	    <div class="col-xs-3 current-time align-right">&nbsp;</div>
	  </div>
	  <div class="row title3 align-center">
	    <div class="col-xs-2">Carrier</div>
	    <div class="col-xs-1">Time</div>
	    <div class="col-xs-4">Destination</div>
	    <div class="col-xs-1">Train#</div>
	    <div class="col-xs-1">Track#</div>
	    <div class="col-xs-3">Status</div>
	  </div>
	  <!-- Some basic empty rows for the board -->
	  <div class="train-info">
      </div>
    </div>
  </div>
</body>
</html>
